version: '3.9'

services:
  postgres:
    image: postgres:18
    container_name: karapada-postgres
    environment:
      POSTGRES_DB: karapada-school
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: sisu
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: karapada-school-app
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "2426:2424"
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  pgdata:
